*{
  margin: 0;
}

.rowposter{
 width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 15px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.rowposter:hover{
   transition: all 0.4s ease;
    transform: scale(1.2);
}
.row_posterLarge{
  max-height: 250px ;
  transition: all 0.4s ease;
}

.row_posterLarge:hover{
  transition: all 0.4s ease;
  transform: scale(1.09);
}
.app{
  background-color: #111;
}
.Nav{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding: 12px;
  transition: all 0.4s ease;
  
}
.nav_black{
  background-color: #111;
  transition: all 1s ease;
}

.navLogo{
  width: 150px;
  object-fit: contain;
}